#nav-links {
  display: flex;
  justify-content: flex-end;
  top: 0px;
  position: sticky;
  z-index: 1;
  background-color: #0D1705;
  height: 110px;
  align-items: center;


}

.nav-link {
  text-decoration: none;
  color: white;
  padding: clamp(10px, 1vh, 20px) clamp(20px, 1vw, 40px)
    /*1vw*/
  ;
  font-size: clamp(20px, 2.1vh, 25px);
  cursor: pointer;
  font-size: 25px;
  transition: color 0.3s ease, background-color 0.3s ease;
}
.nav-link:hover{
  color: #145B39;
}
.nav-link:active{
  color: purple;
}
.logo img{
  width: 100px;
  align-items: right;
  margin-right: 700px;
}
.logo{
  align-items: center;
}
.page{
  background-color: white;
}

.form-label{
  font-size: 35px;
  color: black;
  font-family:'Times New Roman', Times, serif;
  
  
}
.form-input,
.event_text,
.category_select,
.dateinput,
.location_input,
.link_input
{
  width: 100%; 
  max-width: 400px; 
  padding: 10px; 
  border-radius: 15px;
  margin-bottom: 10px;


}
.button{
  border-radius: 5px;
  height: 45px;
  width: 100px;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  background-color: #145B39;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);

}
.button:hover{
  color:antiquewhite;
  background-color: #468B78;
}
input[type="text"], textarea,select{
  border: 1px solid #ccc;
  border-radius:10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px rgba(0,0,0,1);
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  min-height: 450px;
  max-width: 450px;
  margin: 0 auto;
  background-color: #e5e4e2;
  border: 10px solid #468B78;
  border-radius: 40px;
  padding: 40px;
  gap: 5px; 
  margin-top: 3px;
  flex: 1;
  margin-right: 10px;
  margin-left: 50px;
  text-align: center;
  box-shadow: 0 4px 50px rgba(0,3,4,30);
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.image-container img{
  height: 850px;
  width: auto;
  object-fit: cover;
  box-shadow: 0 4px 50px rgba(0,3,4,30);
  margin-top: 80px;
  margin-bottom: 50px;
  
}
.image-container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.events-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 30px;
}
.event{
  display: flex;
  align-items: center;
  border: 3px solid black;
  border-radius: 25px;
  padding: 10px;
  background-color: #f7f6f5;
  box-shadow: 0 4px 15px #30816c;
}
.image-circle{
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-right: 20px;
}
.image-circle img{
  height: 100%;
  width: 100%;
  object-fit: cover;

}
.event-description{
  flex: 1;

}
.event-description h2{
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.event-description p {
  margin: 5px 0 0 0;
}
.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  min-height: 450px;
  max-width: 450px;
  margin: 0 auto;
  background-color: #e5e4e2;
  border: 10px solid #468B78;
  border-radius: 40px;
  gap: 5px; 
  flex: 1;
  text-align: center;
  box-shadow: 0 4px 50px rgba(0,3,4,30);
  margin-top: 50px;
  
}
.zarejestruj-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  min-height: 450px;
  max-width: 450px;
  margin: 0 auto;
  background-color: #e5e4e2;
  border: 10px solid #468B78;
  border-radius: 40px;
  padding: 30px;
  gap: 5px; 
  flex: 1;
  text-align: center;
  box-shadow: 0 4px 50px rgba(0,3,4,30);
  margin-top: 50px;
  margin-bottom: 50px;

}
.zaloguj {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  background-color: #e5e4e2; 
  border-radius: 15px; 
  padding: 20px; 
  box-shadow: 0 4px 10px rgba(0,0,0,9); 
  height: 250px;
}
.zarejestruj {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  background-color: #e5e4e2; 
  border-radius: 15px; 
  padding: 20px; 
  box-shadow: 0 4px 10px rgba(0,0,0,9); 
  height: 350px;
}
.input-field{
  width: 90%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.9);
  margin-bottom: 15px;
}
.login, .haslo{
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.login-button{
  border-radius: 5px;
  height: 55px;
  width: 100px;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  background-color: #145B39;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}
.but-container{
  display: flex;
  justify-content: center;  
  margin-top: -190px;
}
.przelacz{
  border-radius: 5px;
  height: 55px;
  width: 100px;
  margin-top: 20px;
  margin-left: 50px;
  cursor: pointer;
  color: white;
  background-color: #145B39;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}





@media (max-width:600px){
  .form-container{
    padding: 10px;
  }
  .form-label{
    font-size: 16px;
  }
}
@media (min-width: 601px) and (max-width:900px){
  .form-container{
    max-width: 500px;
  }
  .form-label{
    font-size: 18px;
  }
}






